@model IEnumerable<sga_stif.ViewModel.Perfil.ListaMenuAcaoViewModel>

@{
  ViewData["Title"] = "Index";
}

<div class="card">
  <div class="card-header">

    <div class="row no-print">

      <div class="col-12">
        <p class="lead">Associar ao perfil : <small> @ViewBag.NomePerfil</small></p>

       

      </div>
    </div>


  </div>
  <div class="card-body">
    <table id="example2" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Descricao)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
          </th>
          <th>
            Associar
          </th>

        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.DataAtualizacao)
            </td>
            <td>
              <input  id="sfddsf" type="checkbox" onchange="EnviaDados(@ViewBag.IdPerfil,@item.IdMenuAcao)" /> 
            
            </td>
          </tr>
        }
      </tbody>
    </table>


  </div>
</div>

@Html.Hidden("RecuperaLinkGuarda", Url.Action("Guarda", "Perfil"))

<script>
  $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });


    function EnviaDados(idPerfilAux, idMenuAcaoAux) {
            $.ajax({
                url: $("#RecuperaLinkGuarda").val(),
                data: { idPerfil: idPerfilAux, idMenuAcao: idMenuAcaoAux },
                type: "post",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                }
            });
        }


</script>
