@model IEnumerable<sga_stif.Models.Perfil>

@{
  ViewData["Title"] = "Index";
}


<a asp-action="Create">Novo</a>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">DataTable with minimal features & hover style</h3>
  </div>
  <div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Descricao)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
          </th>
        
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.DataAtualizacao)
            </td>
          </tr>
        }
      </tbody>
    </table>


  </div>
</div>


@* @section Scripts { *@
<script>
  $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

@* } *@