@model sga_stif.ViewModel.Utilizador.DetalhesUtilizadorViewModel

@{
    ViewData["Title"] = "Elimina Utilizador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>
<br>
<br>
<br>
<div class="invoice p-3 mb-3 html-content" id="conteudoDetalhes">
    <!-- title row -->
    <div class="row">
        <div class="col-12">
            <h4>
                <i class="fas fa-user"></i> Detalhes do Utilizador - <small>@Model.Nome @Model.Apelido</small>
                @* <small class="float-right">@DateTime.Now</small> *@
            </h4>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">

        <div class="col-sm-4 invoice-col">
            <b>Dados Utilizador</b><br>
            <br>
            <b>Nome :</b> @Model.Nome<br>
            <b>Apelido :</b> @Model.Apelido<br>
            <b>Email :</b> @Model.Email<br>


        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Criação/Outros</b><br>
            <br>
            <b>Perfil :</b> @Model.NomePerfil<br>
            <b>Data Criação :</b> @Model.DataCriacao<br>
            <b>Data Atualização :</b> @Model.DataAtualizacao<br>

        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">

        </div>
        <!-- /.col -->
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row no-print">

        <div class="col-12">
            @* <p class="lead">Lista de beneficiarios</p> *@
            <a asp-action="ListaUtilizador" rel="noopener" class="btn btn-default btn-sm"><i class="fas fa-arrow-left"></i> Voltar Para Lista</a>


            <a class="btn btn-warning btn-sm" asp-action="EliminaUtilizador"
                asp-route-idUtilizador="@Model.IdUtilizador"><i class="fas fa-user-slash"></i> Inativar</a>

            <a class="btn btn-success btn-sm float-right" asp-action="ResetePalavraPasseUtilizador"
                asp-route-idUtilizador="@Model.IdUtilizador"><i class="fas fa-user-secret"> Reset Palavra Passe</i>
            </a>

        </div>
    </div>
</div>
