@model IEnumerable<sga_stif.Models.Utilizador>

@{
  ViewData["Title"] = "Index";
}

<div class="card">
  <div class="card-header">
    <a asp-action="Create" class="btn btn-danger btn-xs">Novo</a> &nbsp;
    <h3 class="card-title">Lista de utilizadores</h3>
  </div>
  <div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Nome)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Apelido)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Foto)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Email)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
          </th>
           <th>
            @Html.DisplayNameFor(model => model.Perfil.Descricao)
          </th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Apelido)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.DataAtualizacao)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Perfil.Descricao)
            </td>
            <td>
              <a class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@item.IdUtilizador">Editar</a> 
              <a class="btn btn-default btn-xs" asp-action="Details" asp-route-id="@item.IdUtilizador">Detalhes</a> 
              <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.IdUtilizador">Eliminar</a>
            </td>
          </tr>
        }
      </tbody>
    </table>


  </div>
</div>

<script>
  $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
