@model IEnumerable<sga_stif.ViewModel.Utilizador.ListaUtilizadorViewModel>

@{
  ViewData["Title"] = "Lista de Utilizadores Inativos";
}

<div class="card">
  <div class="card-header">

    <div class="row no-print">

      <div class="col-12">
        <p class="lead">Lista de Utilizadores Inativos</p>


        <a asp-action="ListaUtilizador" class="btn btn-primary btn-sm float-right" style="margin-right: 5px;">Utilizadores Ativos</a>

      </div>
    </div>

  </div>
  <div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr>

          <th>
            @Html.DisplayNameFor(model => model.Foto)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Nome)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Apelido)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Email)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.NomePerfil)
          </th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>

            <td>
              @if (@item.Foto != null)
              {
                <img class="img-circle img-size-32 mr-2" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Foto)" />

              }
              else
              {
                <img src="~/dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
              }
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Apelido)
            </td>

            <td>
              @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.DataAtualizacao)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.NomePerfil)
            </td>
            <td>
             
              <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdUtilizador">Reativar</a>
            </td>
          </tr>
        }
      </tbody>
    </table>


  </div>
</div>

<script>
  $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
