@model IEnumerable<sga_stif.ViewModel.InstituicaoFinanceira.ListaInstituicaoFinanceiraViewModel>

@{
    ViewData["Title"] = "Lista de Perfil";
}

<div class="card">
    <div class="card-header">

        <div class="row no-print">

            <div class="col-12">
                <p class="lead">Lista de Instituicao Financeira</p>

                <a asp-action="NovoInstituicaoFinanceira" class="btn btn-success btn-sm float-right"
                    style="margin-right: 5px;">Novo</a>

            </div>
        </div>


    </div>
    <div class="card-body">
        <table id="example2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalDeAgencias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalDeSocios)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCriacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataAtualizacao)
                    </th>
                    <th>
                        Ação
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <span class="badge badge-pill badge-info"> @Html.DisplayFor(modelItem =>item.TotalDeAgencias)</span> Agência(s)

                        </td>
                        <td>
                            <span class="badge badge-pill badge-info"> @Html.DisplayFor(modelItem =>
                            item.TotalDeSocios)</span> Sócio(s)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCriacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataAtualizacao)
                        </td>
                        <td>
                            <a class="btn btn-success btn-xs" asp-action="EditaInstituicaoFinanceira"
                            asp-route-idInstituicaoFinanceira="@item.IdInstituicaoFinanceira"><i class="fas fa-pen"></i>
                                Editar</a>
                            <a class="btn btn-warning btn-xs" asp-action="Delete"
                            asp-route-id="@item.IdInstituicaoFinanceira">Inativar</a>
                            <a class="btn btn-default btn-xs" asp-action="ListaUtilizadorPorPerfil"
                            asp-route-idPerfil="@item.IdInstituicaoFinanceira" asp-route-nomePerfil="@item.Nome"> <i
                                class="fas fa-file-magnifying-glass"></i> Ver Agências</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>

<script>
    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
