@model IEnumerable<sga_stif.ViewModel.InstituicaoFinanceira.ListaInstituicaoFinanceiraViewModel>

@{
    ViewData["Title"] = "Lista de Instituições Financeiras";
}

<div class="card">
    <div class="card-header">

        <div class="row no-print">

            <div class="col-12">
                <p class="lead">Lista de Instituições Financeiras</p>

                <a asp-action="NovoInstituicaoFinanceira" class="btn btn-success btn-sm float-right" style="margin-right: 5px;">Novo</a>

                  <a asp-action="ListaInstituicaoFinanceiraInativos" class="btn btn-default btn-sm  float-right"
          style="margin-right: 5px;">Lista de
          Instituição Financeiras Inativos</a>

            </div>
        </div>


    </div>
    <div class="card-body">
        <table id="example2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                       <th>
                        @Html.DisplayNameFor(model => model.Sigla)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalDeAgencias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalDeSocios)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCriacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataAtualizacao)
                    </th>
                    <th>
                        Ação
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                           <td>
                            @Html.DisplayFor(modelItem => item.Sigla)
                        </td>
                        <td>
                            <span class="badge badge-pill badge-info"> @Html.DisplayFor(modelItem =>item.TotalDeAgencias)</span> Agência(s)

                        </td>
                        <td>
                            <span class="badge badge-pill badge-info"> @Html.DisplayFor(modelItem => item.TotalDeSocios)</span> Sócio(s)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCriacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataAtualizacao)
                        </td>
                        <td>
                            <a class="btn btn-success btn-xs" asp-action="EditaInstituicaoFinanceira" asp-route-idInstituicaoFinanceira="@item.IdInstituicaoFinanceira"><i class="fas fa-pen"></i> Editar</a>
                            <a class="btn btn-warning btn-xs" asp-action="InativarInstituicaoFinanceira" asp-route-idInstituicaoFinanceira="@item.IdInstituicaoFinanceira">Inativar</a>
                            <a class="btn btn-default btn-xs" asp-action="ListaAgenciaPorInstitucaoFinanceira" asp-controller="Agencia" asp-route-idInstituicaoFinanceira="@item.IdInstituicaoFinanceira" asp-route-nomeInstituicao="@item.Nome"> <i class="fas fa-file-magnifying-glass"></i> Ver Agências</a>
                            <a class="btn btn-default btn-xs" asp-action="DetalhesInstituicaoFinanceira" asp-route-idInstituicaoFinanceira="@item.IdInstituicaoFinanceira" asp-route-nomeInstituicaoFinanceira="@item.Nome"> <i class="fas fa-info"></i> Detalhes</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>

<script>
    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
