@model IEnumerable<sga_stif.Models.ResultadoStoredProcedure.ContaCorrenteIFResultado>

@{
  ViewData["Title"] = "Lista de Quotas Vencidas";
}

@* <form method="post" asp-controller="ContaCorrentes" asp-action="PagamentosMultiplos"> *@

<div class="card">
  <div class="card-header">

    <form id="formularioDeFiltro" asp-action="ListaQuotasVencidas" method="get">
      <div class="row no-print">

        <div class="col-12">
          <p class="lead">Lista de Quotas Vencidas</p>

          <div class="row align-items-end"> 

            <div class="col-md-3">
              <div class="form-group align-items-end">
                <label class="control-label">Intituição Financeira</label>
                <select asp-items="@ViewBag.IdInstituicaoFinanceira" name="IdInstituicaoFinanceira" class="form-control" id="IdInstituicaoFinanceira">
                  <option disabled selected>--- todos ---</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group align-items-end">
                <label class="control-label"></label>
                <input type="submit" class="btn btn-primary" value="Filtrar" />
              </div>
            </div>

          </div>

        </div>
      </div>
    </form>

  </div>
  <div class="card-body">


    <table id="example2" class="table table-bordered table-striped">
      <thead>
        <tr>

          <th>
            @Html.DisplayNameFor(model => model.Nome)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.IFS)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.AgenciaNome)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Ano)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Mes)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Montante)
          </th>
          <th>
            Ação
          </th>

        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            
            <td>
              @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.IFS)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.AgenciaNome)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Mes)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Montante)
            </td>

            <td>

              @if ((EstadoQuotaSocio)item.EstadoQuotaNum == EstadoQuotaSocio.AguardaConfirmacaoPagamento)
              {
                <a asp-action="ConcluirPagamento" asp-controller="Pagamento" asp-route-url=@Url.Action("ListaQuotasVencidas","ContaCorrentes")
              
              asp-route-idQuotaSocio=@item.IdQuotaSocio rel="noopener" class="btn btn-warning btn-sm">Confirmar
                  Pagamento</a>

              }
              else
              {
                <a asp-action="NovoPagamento" asp-controller="Pagamento" asp-route-url=@Url.Action("ListaQuotasVencidas","ContaCorrentes")
              
              asp-route-idQuotaSocio=@item.IdQuotaSocio rel="noopener" class="btn btn-success btn-sm">Efectuar
                  Pagamento</a>

              }

            </td>

          </tr>
        }
      </tbody>
    </table>

  </div>
</div>

@* </form> *@

<script>
  $(function () {

    /*

    $('#all').on('click', function () {
      $(':checkbox').attr("checked", $(this).is(':checked'));
    });

    */


    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
