@model IEnumerable<sga_stif.Models.ResultadoStoredProcedure.ContaCorrenteIFResultado>

@{
  ViewData["Title"] = "Lista de Quotas Pagas";
}


<div class="card">
  <div class="card-header">
    <form id="formularioDeFiltro" asp-action="ListaQuotasPagas" method="get">
      <div class="row no-print">

        <div class="col-12">
          <p class="lead">Lista de Quotas Pagas</p>

          <div class="row align-items-end">
            <div class="col-md-3">



              <div class="form-group align-items-end">
                <label class="control-label">Data</label>
                <input type="month" id="start" name="DataPesquisa" min="2022-01" value=@ViewBag.DataPreenchido
                  class="form-control">

              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group align-items-end">
                <label class="control-label">Intituição Financeira</label>
                <select asp-items="@ViewBag.IdInstituicaoFinanceira" class="form-control" id="IdInstituicaoFinanceira">
                  <option disabled selected>--- todos ---</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group align-items-end">
                <label class="control-label"></label>
                <input type="submit" form="formularioDeFiltro" class="btn btn-primary" value="Filtrar" />
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>

    <input type="submit" form="formularioDePagamentos" value="Efectuar Anulamento"
      class="btn btn-danger btn-sm float-right" style="margin-right: 5px;">

  </div>
  <div class="card-body">
    <form method="post" asp-controller="Pagamento" asp-action="AnularMultiplosPagamento" id="formularioDePagamentos">
      <table id="example2" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><input type="checkbox" id="all"> Todos</th>
            <th>
              @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.IFS)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.AgenciaNome)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Montante)
            </th>
            <th>
              Ação
            </th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>
                <input type="checkbox" class="group" id="@item.IdQuotaSocio" name="IdQuotasSociosParaPagar"
                value="@item.IdQuotaSocio">
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Nome)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.IFS)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.AgenciaNome)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Ano)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Mes)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Montante)
              </td>
              <td>
                <a asp-action="AnularPagamento" asp-controller="Pagamento"
                asp-route-url=@Url.Action("ListaQuotasPorPagar","ContaCorrentes")
                asp-route-idQuotaSocio=@item.IdQuotaSocio rel="noopener" class="btn btn-danger btn-sm">Anular
                  Pagamento</a>
              </td>

            </tr>
          }
        </tbody>
      </table>
    </form>
  </div>
</div>


<script>
  $(function () {

    $('#all').on('click', function () {
      $(':checkbox').attr("checked", $(this).is(':checked'));
    });



    $('#example2').DataTable({
      language: {
        //url: 'dataTables.german.json',
        url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-PT.json'
        //url:"@Url.Content("~/pt-PT.json")"
      },
      dom: 'lBfrtip',
      paging: true,
      lengthChange: true,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>
