@model IEnumerable<sga_stif.ViewModel.TipologiaSocio.ListaTipologiaSocioViewModel>

@{
  ViewData["Title"] = "Lisa de Quotas";
}

<div class="card">
  <div class="card-header">
    <div class="row no-print">
      <div class="col-12">
        <p class="lead">Lista de Tipologia Sócio</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table id="example2" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Descricao)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Tipo)
          </th>
           <th>
            @Html.DisplayNameFor(model => model.TotalDeSocios)
          </th>
          <th>
            Ação
          </th>

        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Descricao)
            </td>

            <td>
              @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
              <a asp-action="ListaSocioPorTipologiaSocio" asp-route-idTipologiaSocio="@item.IdTipologiaSocio" asp-route-nome="@item.Descricao">  <span class="badge badge-pill badge-info"> @Html.DisplayFor(modelItem => item.TotalDeSocios)</span> Sócio(s) </a>    
            </td>
            <td>
              <a class="btn btn-success btn-xs" asp-action="ListaSocioPorTipologiaSocio" asp-route-idTipologiaSocio="@item.IdTipologiaSocio" asp-route-nome="@item.Descricao"><i class="fa-solid fa-file-magnifying-glass"></i>Ver Socios</a>
            </td>
          </tr>
        }
      </tbody>
    </table>


  </div>
</div>

<script>
  $(function () {
    $('#example2').DataTable({
       language: {
        url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-PT.json'
        //url:"@Url.Content("~/pt-PT.json")"
      },
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
