@model List<sga_stif.Models.Menu>
@{
    ViewData["Title"] = "NavigationMenu";
}

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">


        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>


        @*Menu Items from the database*@

        @foreach (var item in Model)
        {
            if (item.IdMenuPai == null) //Level one items will have null parent id
            {

                var subMenus = Model.Where(x => x.IdMenuPai == item.IdMenu).ToList();

                if (subMenus.Count > 0)
                {

                }

                if (subMenus.Count > 0) //Level one item has children so append them
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"> @item.Nome</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            @foreach (var itm in subMenus)
                            {
                                <a class="dropdown-item" asp-controller="@itm.NomeDoController" asp-action="@itm.NomeDaAction" title="@item.Descricao">@itm.Nome</a>
                            }
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item active">
                        <a class="nav-link text" asp-controller="@item.NomeDoController" asp-action="@item.NomeDaAction">@item.Nome</a>
                    </li>

                }
            }
        }
    </ul>

</div>