@model IEnumerable<sga_stif.Models.Acao>

@{
    ViewData["Title"] = "Gerir Ação";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">adicionar ações no menu : <b> @ViewBag.NomeMenu</b> </h3>
    </div>
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>

                    <th>
                        Ação
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>

                        <td>
                            <input  id="sfddsf" type="checkbox" onchange="EnviaDados(@item.IdAcao,@ViewBag.IdMenu)" />
                            @* <Input IdMenu=@ViewBag.IdMenu IdAcao =@item.IdAcao> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>

@Html.Hidden("RecuperaLinkGuarda", Url.Action("Guarda", "MenuAcao"))

<script>

    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });

    })


     function EnviaDados(idAcaoAux, idMenuAux) {
            $.ajax({
                url: $("#RecuperaLinkGuarda").val(),
                data: { idAcao: idAcaoAux, idMenu: idMenuAux },
                type: "post",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                }
            });
        }


</script>
