@model IEnumerable<sga_stif.ViewModel.MenuAcao.ListaMenuViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
       <div class="row no-print">

      <div class="col-12">
        <p class="lead">Lista de Menus</p>

      </div>
    </div>
    </div>
    <div class="card-body">
        <table id="example2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                         @Html.DisplayNameFor(model => model.TipoMenu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCriacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataAtualizacao)
                    </th>

                    <th>
                        Ação
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoMenu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCriacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataAtualizacao)
                        </td>
                        <td>
                            <a class="btn btn-success" asp-action="GerirAcao" asp-route-idMenu="@item.IdMenu" asp-route-nomeMenu="@item.Nome"> <i class="fas fa-seal"></i> Gerir Ações</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>

<script>
    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
