@model IEnumerable<sga_stif.ViewModel.Agencia.ListaAgenciaViewModel>

@{
    ViewData["Title"] = "Lista de Agências";
}

<div class="card">
    <div class="card-header">

        <div class="row no-print">

            <div class="col-12">
                <p class="lead">Lista de Agências</p>

                @* <a asp-action="NovoPerfil" class="btn btn-success btn-sm float-right"
                    style="margin-right: 5px;">Novo</a> *@

            </div>
        </div>


    </div>
    <div class="card-body">
        <table id="example2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeInstituicaoFinanceira)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeCidade)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.TotalDeSocios)
                    </th>
                    <th>
                        Ação
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeInstituicaoFinanceira)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeCidade)
                        </td>
                           <td>
                             <span class="badge badge-pill badge-info"> @Html.DisplayFor(modelItem => item.TotalDeSocios)</span> Sócio(s)
                        </td>
                        <td>
                            <a class="btn btn-success btn-xs" asp-action="EditaPerfil" asp-route-idPerfil="@item.IdInstituicaoFinanceira"><i class="fas fa-pen"></i> Editar</a>
                            <a class="btn btn-warning btn-xs" asp-action="Delete" asp-route-id="@item.IdInstituicaoFinanceira">Inativar</a>        

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script>

  $(document).ready(function () {
    $('#example2').DataTable({
      dom: 'Bfrtip',
      buttons: [
        //'copy', 'csv', 'excel', 'pdf', 'print'
       'excel', 'pdf', 'print'
      ]
    });
  });

</script>
