@model sga_stif.ViewModel.Socio.DestalhesSocioViewModel

@{
    ViewData["Title"] = "Detalhes do Sócio";
}

<div class="invoice p-3 mb-3 html-content" id="conteudoDetalhes">
    <!-- title row -->
    <div class="row">
        <div class="col-12">
            <h4>
                <i class="fas fa-user"></i> Detalhes do Sócio - <small>@Model.Nome @Model.Apelido</small>
                <small class="float-right">@DateTime.Now</small>
            </h4>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">

        <div class="col-sm-3 invoice-col text-center">
         
                   @* <img class="profile-user-img img-fluid img-circle" src="@Model.Foto" alt="User profile picture" style="height: 200px;width:200px"> *@
            @* <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/" + Model.Foto)" alt="User profile picture ok" style="height: 200px;width:200px"> *@
            <img class="profile-user-img img-fluid img-circle" src="@Url.Content(Model.Foto)" alt="User profile picture ok" style="height: 200px;width:200px">

        </div>

        <div class="col-sm-3 invoice-col">
            <b>Dados Sócio</b><br>
            <br>
            <b>Nome :</b> @Model.Nome<br>
            <b>Apelido :</b> @Model.Apelido<br>
            <b>Sexo :</b> @Model.Sexo<br>
            <b>Estádo Civil :</b> @Model.EstadoCivil<br>
            <b>Data de Nascimento :</b> @Html.DisplayFor(modelItem =>@Model.DataDeNascimento)<br>
            <b>Habilitação Literária :</b> @Html.DisplayFor(modelItem =>@Model.HabilitacaoLiteraria)<br>
            <b>Número de Identificação Fiscal :</b> @Model.Nif<br>
            <b>Derigente Stif :</b> @Model.DerigenteStiff - <a asp-action="MudarTipoDirigente" asp-controller="Socio" asp-route-idSocio="@Model.IdSocio">Mudar</a> <br>
            <b>Data Criação :</b> @Html.DisplayFor(modelItem => @Model.DataCriacao)<br>
            <b>Data Ativação :</b> <span class="badge badge-pill badge-info">@Html.DisplayFor(modelItem => @Model.DataAtivacao) </span>
        </div>
        <!-- /.col -->
        <div class="col-sm-3 invoice-col">
            <b>Dados Instituição Financeira</b><br>
            <br>
            <b>Instituição : </b><a asp-controller="InstituicaoFinanceira" asp-action="DetalhesInstituicaoFinanceira" asp-route-idInstituicaoFinanceira="@Model.IdInstituicaoFinanceira" asp-route-nomeInstituicaoFinanceira="@Model.NomeInstituicaoFinanceira"> @Model.NomeInstituicaoFinanceira </a>  <br>
            <b>Agência : </b> @Model.NomeAgencia<br>
            <b>Cidade : </b> @Model.NomeCidade<br>
            <b>Ilha : </b> @Model.NomeIlha
        </div>
        <!-- /.col -->
        <div class="col-sm-3 invoice-col">
            <b>Outros</b><br>
            <br>
             <b>Número de Sócio : </b> @Model.NumeroDeSocio<br>
             <b>Número de Colaborador : </b> @Model.NumeroColaborador<br>
            <b>Tipo Quota : </b> @Model.NomeTipoQuota<br>
            <b>Tipologia Sócio : </b> @Model.NomeTipologia <br>
            <b>E-mail : </b><a href = "mailto:@Model.Email?subject = Contactar Socio&body = Nova Mensagem"> @Model.Email</a><br>
            <b>Telefone : </b> @Model.NumeroDeTelefone <br>
            <b>Móvel : </b><a href="tel:+238 @Model.NumeroDeTelemovel">@Model.NumeroDeTelemovel</a>  <br />
            <b>Data Entrega de Cartão : </b>@Model.DataEntregaCartao @if (@Model.DataEntregaCartao.Contains("Não"))
            {
                <a asp-action="EntregarCartao" asp-controller="Socio" asp-route-idSocio="@Model.IdSocio">Marcar como rntregue</a>
            }
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <br>
    <br>


    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill"
                href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home"
                aria-selected="true">Beneficiario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill"
                href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile"
                aria-selected="false">Quotas Paga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="custom-content-below-messages-tab" data-toggle="pill" href="#custom-content-below-messages" role="tab" aria-controls="custom-content-below-messages" aria-selected="false">Quotas Por Pagar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="custom-content-below-settings-tab" data-toggle="pill"
                href="#custom-content-below-settings" role="tab" aria-controls="custom-content-below-settings"
                aria-selected="false">Quotas Vencidas</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-content-below-historial-tab" data-toggle="pill"
                href="#custom-content-below-historial" role="tab" aria-controls="custom-content-below-settings"
                aria-selected="false">Historial</a>
        </li>
    </ul>
    <div class="tab-content" id="custom-content-below-tabContent">
        <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel"
            aria-labelledby="custom-content-below-home-tab">
            <div class="row no-print">

                <div class="col-12">
                    <p class="lead">Lista de Beneficiário</p>
                    <a asp-action="ListaSocio" rel="noopener" class="btn btn-default btn-sm"><i
                            class="fas fa-arrow-left"></i> Voltar
                        Para Lista</a>
                    @* <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i>
                        Submit
                        Payment
                        </button> *@
                    @* <button type="button" class="btn btn-success float-right" style="margin-right: 5px;">
                        <i class="fas fa-download"></i> Novo Beneficiario
                        </button> *@

                    <a asp-action="NovoBeneficiario" asp-controller="Beneficiario" asp-route-idSocio="@Model.IdSocio"
                        class="btn btn-success btn-sm float-right" style="margin-right: 5px;"> <i
                            class="fas fa-plus"></i> Adicionar
                        Beneficiário</a>
                    <a asp-action="InativarSocio" asp-controller="Socio" asp-route-idSocio="@Model.IdSocio"
                        class="btn btn-warning btn-sm float-right" style="margin-right: 5px;"> <i
                            class="fas fa-user-slash"></i>
                        Inativar</a>

                </div>
            </div>
            <br>
            <!-- Table row -->
            <div class="row">

                <div class="col-12 table-responsive">
                    <table class="table table-striped tabelas_detalhes_socio">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaBeneficiarioViewModel[0].NomeCompleto)

                                </th>
                               
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaBeneficiarioViewModel[0].DataDeNascimento)

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaBeneficiarioViewModel[0].GrauDeParentesco)

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaBeneficiarioViewModel[0].CinBi)

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaBeneficiarioViewModel[0].Nif)

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ListaBeneficiarioViewModel[0].NumeroPassaporte)

                                </th>

                                <th>
                                    Ação
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListaBeneficiarioViewModel)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomeCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataDeNascimento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GrauDeParentesco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CinBi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nif)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroPassaporte)
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-xs" asp-action="EditaBeneficiario"
                                        asp-controller="Beneficiario" asp-route-idSocio="@item.IdSocio"
                                        asp-route-idBeneficiario="@item.IdBeneficiario"><i class="fas fa-pen"></i>
                                            Editar</a>
                                        @* <a class="btn btn-default btn-xs"> <i class="fas fa-info"></i> Detalhes</a> *@
                                        <a class="btn btn-danger btn-xs"> <i class="fas fa-user-slash"></i> Retirar</a>
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel"
            aria-labelledby="custom-content-below-profile-tab">
            <br>
            <div class="col-12 table-responsive">
                <table id="TabelaPagas" class="table table-striped">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_Pagas[0].IFS)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model =>
                                model.ListaContaCorrenteSocioResultado_Pagas[0].AgenciaNome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_Pagas[0].Ano)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_Pagas[0].Mes)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_Pagas[0].Montante)
                            </th>

                            <th>
                                Ação
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaContaCorrenteSocioResultado_Pagas)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IFS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AgenciaNome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ano)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mes)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Montante)
                                </td>

                                <td>
                                       <a asp-action="AnularPagamento" asp-controller="Pagamento" asp-route-url=@Url.Action("DetalhesSocio","Socio",new{idSocio=Model.IdSocio}) asp-route-idQuotaSocio=@item.IdQuotaSocio rel="noopener" class="btn btn-danger btn-sm">Anular Pagamento</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
        <div class="tab-pane fade" id="custom-content-below-messages" role="tabpanel"
            aria-labelledby="custom-content-below-messages-tab">
            <br>
            <table id="TabelaPorPagar" class="table table-striped">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_PorPagar[0].IFS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model =>
                            model.ListaContaCorrenteSocioResultado_PorPagar[0].AgenciaNome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_PorPagar[0].Ano)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_PorPagar[0].Mes)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_PorPagar[0].Montante)
                        </th>

                        <th>
                            Ação
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaContaCorrenteSocioResultado_PorPagar)
                    {
                        <tr>


                            <td>
                                @Html.DisplayFor(modelItem => item.IFS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgenciaNome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ano)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mes)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Montante)
                            </td>
                            <td>



                                 @if ((EstadoQuotaSocio)item.EstadoQuotaNum == EstadoQuotaSocio.AguardaConfirmacaoPagamento){
                <a asp-action="ConcluirPagamento" asp-controller="Pagamento"   asp-route-idQuotaSocio=@item.IdQuotaSocio rel="noopener" asp-route-url=@Url.Action("DetalhesSocio","Socio",new{idSocio=Model.IdSocio})
              class="btn btn-warning btn-sm">Confirmar Pagamento</a>

              }
              else
              {
                <a asp-action="NovoPagamento"  asp-controller="Pagamento"  asp-route-idQuotaSocio=@item.IdQuotaSocio rel="noopener" asp-route-url=@Url.Action("DetalhesSocio","Socio",new{idSocio=Model.IdSocio})
              class="btn btn-success btn-sm">Efectuar Pagamento</a>

              }


                               
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="custom-content-below-settings" role="tabpanel"
            aria-labelledby="custom-content-below-settings-tab">
            <br>
            <table id="TabelaVencida" class="table table-striped">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_Vencidas[0].IFS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model =>
                            model.ListaContaCorrenteSocioResultado_Vencidas[0].AgenciaNome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_Vencidas[0].Ano)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_Vencidas[0].Mes)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaCorrenteSocioResultado_Vencidas[0].Montante)
                        </th>

                        <th>
                            Ação
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaContaCorrenteSocioResultado_Vencidas)
                    {
                        <tr>


                            <td>
                                @Html.DisplayFor(modelItem => item.IFS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgenciaNome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ano)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mes)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Montante)
                            </td>

                            <td>
                                 @if ((EstadoQuotaSocio)item.EstadoQuotaNum == EstadoQuotaSocio.AguardaConfirmacaoPagamento)
              {
                <a asp-action="ConcluirPagamento" asp-controller="Pagamento" asp-route-url=@Url.Action("DetalhesSocio","Socio",new{idSocio=Model.IdSocio})  asp-route-idQuotaSocio=@item.IdQuotaSocio rel="noopener"
              class="btn btn-warning btn-sm">Confirmar Pagamento</a>

              }
              else
              {
                <a asp-action="NovoPagamento"  asp-controller="Pagamento" asp-route-url=@Url.Action("DetalhesSocio","Socio",new{idSocio=Model.IdSocio})  asp-route-idQuotaSocio=@item.IdQuotaSocio rel="noopener"
              class="btn btn-success btn-sm">Efectuar Pagamento</a>

              }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

           <div class="tab-pane fade" id="custom-content-below-historial" role="tabpanel"
            aria-labelledby="custom-content-below-historial-tab">
            <br>
            <table id="TabelaVencida" class="table table-striped">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaHistorialSocioResultadoHistorial[0].IFS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaHistorialSocioResultadoHistorial[0].AgenciaNome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaHistorialSocioResultadoHistorial[0].Ano)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaHistorialSocioResultadoHistorial[0].Mes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaHistorialSocioResultadoHistorial[0].Montante)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ListaContaHistorialSocioResultadoHistorial[0].EstadoQuota)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaContaHistorialSocioResultadoHistorial)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.IFS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgenciaNome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ano)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Montante)
                            </td>
                            <td>
                                 @Html.DisplayFor(modelItem => item.EstadoQuota)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <!-- /.row -->

    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-12">
            <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i
                    class="fas fa-print"></i> Print</a>

            <button type="button" id="geraPdf" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-download"></i> Gerar PDF
            </button>
        </div>
    </div>
</div>

<div id="editor"></div>




@* <script src="~/js/jspdf.umd.min.js"></script> *@

<script>




    $(document).ready(function () {
        $('.tabelas_detalhes_socio').DataTable({
            paging: true,
            /* lengthChange: true,
            searching: true, */
            ordering: true,
            responsive: true,

        });

        /* $('#TabelaPagas').DataTable({
            paging: true,

            ordering: true,
            responsive: true,

        });
        $('#TabelaPorPagar').DataTable({
            paging: true,

            ordering: true,
            responsive: true,

        });
        $('#TabelaVencida').DataTable({
            paging: true,

            ordering: true,
            responsive: true,

        }); */
    });


    $(function () {

        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#geraPdf').click(function () {
            /*doc.fromHTML($('#conteudoDetalhes').html(), 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
            doc.save('sample-file.pdf'); */

            CreatePDFfromHTML();


        });







        //Create PDf from HTML...
        function CreatePDFfromHTML() {
            var HTML_Width = $(".html-content").width();
            var HTML_Height = $(".html-content").height();
            var top_left_margin = 15;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;

            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

            html2canvas($(".html-content")[0]).then(function (canvas) {
                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }
                pdf.save("detalhes do socio.pdf");
                $(".html-content").hide();
            });
        }



    });

</script>