@model sga_stif.ViewModel.Socio.DestalhesSocioViewModel

<div class="invoice p-3 mb-3">
    <!-- title row -->
    <div class="row">
        <div class="col-12">
            <h4>
                <i class="fas fa-user"></i> Detalhes do Sócio - <small>@Model.Nome @Model.Apelido</small>
                <small class="float-right">@DateTime.Now</small>
            </h4>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">

        <div class="col-sm-4 invoice-col">
            <b>Dados Sócio</b><br>
            <br>
            <b>Nome :</b> @Model.Nome<br>
            <b>Apelido :</b> @Model.Apelido<br>
            <b>Número de Identificação Fiscal :</b> @Model.Nif
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Dados Instituição Financeira</b><br>
            <br>
            <b>Agência :</b> @Model.NomeAgencia<br>
            <b>Cidade :</b> @Model.NomeCidade<br>
            <b>Ilha :</b> @Model.NomeIlha
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Outros</b><br>
            <br>
            <b>Tipo Quota :</b> @Model.NomeTipoQuota<br>
            <b>Tipologia Sócio :</b> @Model.NomeTipologia <br>
            <b>Telefone:</b> @Model.NumeroDeTelefone
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <br>
    <br>

    <div class="row no-print">

        <div class="col-12">
            <p class="lead">Lista de beneficiarios</p>
            <a asp-action="ListaSocio" rel="noopener" class="btn btn-default"><i class="fas fa-arrow-left"></i> Voltar
                Para Lista</a>
            @* <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                Payment
                </button> *@
            @* <button type="button" class="btn btn-success float-right" style="margin-right: 5px;">
                <i class="fas fa-download"></i> Novo Beneficiario
                </button> *@

            <a asp-action="NovoBeneficiario" asp-controller="Beneficiario" asp-route-idSocio="@Model.IdSocio"
                class="btn btn-success float-right" style="margin-right: 5px;"> <i class="fas fa-plus"></i> Adicionar
                Beneficiario</a>
            <a asp-action="NovoBeneficiario" asp-controller="Beneficiario" asp-route-idSocio="@Model.IdSocio"
                class="btn btn-warning float-right" style="margin-right: 5px;"> <i class="fas fa-user-slash"></i>
                Inativar</a>

        </div>
    </div>
    <br>
    <!-- Table row -->
    <div class="row">
        @* <p class="lead">Lista de beneficiarios</p> *@
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Apelido
                        </th>
                        <th>
                            Data de Nascimento
                        </th>
                        <th>
                            Grau de Parentesco
                        </th>
                        <th>
                            CinBi
                        </th>
                        <th>
                            Nif
                        </th>
                        <th>
                            Número Passaporte
                        </th>

                        <th>
                            Ação
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaBeneficiarioViewModel)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apelido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataDeNascimento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GrauDeParentesco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CinBi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nif)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroPassaporte)
                            </td>
                            <td>
                                <a class="btn btn-success"><i class="fas fa-pen"></i> Editar</a>
                                <a class="btn btn-default"> <i class="fas fa-info"></i> Detalhes</a>
                                <a class="btn btn-danger"> <i class="fas fa-user-slash"></i> Retirar</a>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-12">
            <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i
                    class="fas fa-print"></i> Print</a>

            <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-download"></i> Generate PDF
            </button>
        </div>
    </div>
</div>