@model IEnumerable<sga_stif.ViewModel.Socio.ListaSocioViewModel>

@{
  ViewData["Title"] = "Lista de Sócios";
}

<div class="card">
  <div class="card-header">

    <div class="row no-print">

      <div class="col-12">
        <p class="lead">Lista de Sócios</p>



        <a asp-action="NovoSocio" class="btn btn-success btn-sm  float-right" style="margin-right: 5px;"><i
            class="fas fa-user-plus" title="Criar novo socio!"></i> Novo</a>
        <a asp-action="ListaSocioInativos" class="btn btn-default btn-sm  float-right" style="margin-right: 5px;"
          title="Ver lista de todos os socios inativo no sistema!">Ver Sócios Inativos</a>
      </div>
    </div>


  </div>
  <div class="card-body">
    <table id="example2" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            @Html.DisplayNameFor(model => model.NumeroDeSocio)
          </th>
          <th title="Nome Completo do Sócio">
            @Html.DisplayNameFor(model => model.NomeCompleto)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Sexo)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Nif)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.CinBi)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.TotalBeneficiario)
          </th>

          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.IdSocio)
            </td>

            <td>
               <a asp-action="DetalhesSocio" asp-route-idSocio="@item.IdSocio" title="Ver Detalhes Sócio e Adição de Beneficiário!"> 
                  @Html.DisplayFor(modelItem => item.NumeroDeSocio)
               </a>
             
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>

            <td>
              @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.CinBi)
            </td>
            <td>
              <span class="badge badge-pill badge-info"> @Html.DisplayFor(modelItem => item.TotalBeneficiario)</span>
              Beneficiário(s)
            </td>
            <td>
              <a class="btn btn-success btn-xs " asp-action="EditaSocio" asp-route-idSocio="@item.IdSocio"
              asp-route-idAgencia="@item.IdAgencia"><i class="fas fa-pen"></i> Editar</a>
              <a class="btn btn-default btn-xs " asp-action="DetalhesSocio" asp-route-idSocio="@item.IdSocio"
              title="Ver Detalhes Sócio e Adição de Beneficiário!"><i class="fas fa-info"></i> Detalhes</a>
              <a class="btn btn-warning btn-xs " asp-action="InativarSocio" asp-route-idSocio="@item.IdSocio"><i
                class="fas fa-user-slash" title="Inativar Sócio"></i> Inativar</a>
            </td>
          </tr>
        }
      </tbody>
    </table>

  </div>
</div>


<script>

  $(document).ready(function () {
    $('#example2').DataTable({
      pageLenght:50,
      paging: true,
      lengthChange: true,
      searching: true,
      ordering: true,
      responsive: true,
      dom: 'Bfrtip',
      buttons: [
        {
           extend: 'pdf',
           footer: true,
           exportOptions: {
                columns: [0,1,2,3,4,5,6]
            }
       },
       {
           extend: 'excel',
           footer: false,
            exportOptions: {
                columns: [0,1,2,3,4,5,6]
            }
          
       },
       {
           extend: 'print',
           footer: false,
            exportOptions: {
                columns: [0,1,2,3,4,5,6]
            }
       } 
        //'copy', 'csv', 'excel', 'pdf', 'print'
        //'excel', 'pdf', 'print'
      ]
    });
  });

</script>
