@model IEnumerable<sga_stif.ViewModel.Socio.ListaSocioViewModel>

@{
  ViewData["Title"] = "Lista de Sócios Inativos";
}

<div class="card">
  <div class="card-header">

     <div class="row no-print">

      <div class="col-12">
        <p class="lead">Lista de Socios Inativos</p>


       
        @* <a asp-action="NovoSocio" class="btn btn-success float-right" style="margin-right: 5px;">Novo</a> *@
        <a asp-action="ListaSocio" class="btn btn-primary btn-sm float-right" style="margin-right: 5px;">Ver Sócios Ativos</a>
      </div>
    </div>


  </div>
  <div class="card-body">
    <table id="example2" class="table table-bordered table-striped">
      <thead>
        <tr>

          <th>
            @Html.DisplayNameFor(model => model.Foto)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.NumeroDeSocio)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Nome)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Apelido)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Nif)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.CinBi)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.NumeroPassaporte)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
          </th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>

            <td>
              @if (@item.Foto != null)
              {
                <img class="img-circle img-size-32 mr-2" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Foto)" />

              }
              else
              {
                <img src="dist/img/default-150x150.png" alt="RSS" class="img-circle img-size-32 mr-2">
              }
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.NumeroDeSocio)
            </td>
             <td>
              @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Apelido)
            </td>

            <td>
              @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.CinBi)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.NumeroPassaporte)
            </td>
             <td>
              @Html.DisplayFor(modelItem => item.DataDeNascimento)
            </td>
            <td>
             
              <a class="btn btn-default" asp-action="DetalhesSocio" asp-route-idSocio="@item.IdSocio">Detalhes</a>
              <a class="btn btn-primary" asp-action="EliminaSocio" asp-route-idSocio="@item.IdSocio">Reativar</a>
            </td>
          </tr>
        }
      </tbody>
    </table>


  </div>
</div>

<script>
  $(function () {
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
