@model IEnumerable<sga_stif.ViewModel.Socio.ListaSocioViewModel>

@{
  ViewData["Title"] = "Lista de Sócios";
}

<div class="card">
  <div class="card-header">

     <div class="row no-print">

      <div class="col-12">
        <p class="lead">Lista de Sócios</p>


       
        <a asp-action="NovoSocio" class="btn btn-success btn-sm  float-right" style="margin-right: 5px;"><i class="fas fa-user-plus"></i> Novo</a>
        <a asp-action="ListaSocioInativos" class="btn btn-default btn-sm  float-right" style="margin-right: 5px;">Ver Sócios Inativos</a>
      </div>
    </div>


  </div>
  <div class="card-body">
    <table id="example2" class="table table-bordered table-striped">
      <thead>
        <tr>

          <th>
            @Html.DisplayNameFor(model => model.Foto)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.NumeroDeSocio)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Nome)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Apelido)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Nif)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.CinBi)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.NumeroPassaporte)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
          </th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>

            <td>
              @if (@item.Foto != null)
              {
                <img class="img-circle img-size-32 mr-2" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Foto)" />

              }
              else
              {
                <img src="dist/img/default-150x150.png" alt="RSS" class="img-circle img-size-32 mr-2">
              }
            </td>
              <td>
              @Html.DisplayFor(modelItem => item.NumeroDeSocio)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Apelido)
            </td>

            <td>
              @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.CinBi)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.NumeroPassaporte)
            </td>
             <td>
              @Html.DisplayFor(modelItem => item.DataDeNascimento)
            </td>
            <td>
              <a class="btn btn-success btn-xs " asp-action="Edit" asp-route-id="@item.IdSocio"><i class="fas fa-pen"></i> Editar</a>
              <a class="btn btn-default btn-xs " asp-action="DetalhesSocio" asp-route-idSocio="@item.IdSocio"><i class="fas fa-info"></i> Detalhes</a>
              <a class="btn btn-warning btn-xs " asp-action="EliminaSocio" asp-route-idSocio="@item.IdSocio"><i class="fas fa-user-slash"></i> Inativar</a>
            </td>
          </tr>
        }
      </tbody>
    </table>


  </div>
</div>


<script>

  $(document).ready(function () {
    $('#example2').DataTable({
      dom: 'Bfrtip',
      buttons: [
        //'copy', 'csv', 'excel', 'pdf', 'print'
        'copy', 'csv', 'excel', 'print'
      ]
    });
  });

</script>
